
@main("SoundLeaks") {

<script src='@routes.Assets.at("javascripts/main.js")' type='text/javascript'>
</script>   

<div id = "box">
    
<div class = "top">
    <p>What time is it?</p>
    <p>It's deeply sleeping time!!</p>
</div>
    

    <form class="form-inline" role = "form">

        <div class="form-group">
            
            <div id = "login">
                <input type ="text" id = "dummyInput" style="display:none;">
                <label class="sr-only" for="password">Password</label>
                <input type = "password" id = "password" class="form-control" placeholder="Password">
                <button type="button" id = "loginButton" class="btn btn-Login">Login</button>
            </div>
            
        </div>
        
    </form>
    
    <img id = 'topchara' src = "assets/images/justFit.png" height = "270px">
        
</div>
        

} 



